/* div {
  height: 200px;
  width: 220px;
  margin: 40px auto;
  margin-top: 20px;
  background-color: #00af00; 
 animation: Animate 1s linear 1s infinite alternate-reverse;
}

 @keyframes Animate {
  from  {
    background-color: #00af00;
    
  } 
  to {
    background-color: blue;
    border-radius: 50%;
    transform: translate(300px, 60px);
  } 
}  


@media (max-width: 400px) {
  div {
    background-color: red;
  }
} */

div h1{
margin: 10vh 30vw;
font-size: 5rem;
font-weight: 900;
background: linear-gradient(235deg, purple, pink, gold);
color: aliceblue;
display: inline-block;
}
